.content {
  padding-top: 125px;

  @include breakpoint(tablet) {
    padding-top: 225px;
    padding-bottom: 125px;
  }

  @include breakpoint(desktop) {
    padding-top: 150px;
  }

  .mockup {
    width: 80%;
    float: right;
  }
}

.content__title {
  color: $gray;
  font-weight: 100;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}

.content-block {
  margin-top: 100px;
}

.content-block__title {
  font-size: 32px;
  color: $color-danger;
  font-weight: 300;
  margin: 40px 0;
}

.content-block__text {
  color: #848c99;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}

.buy-and-sell-icon {
  width: 50px;

  g {
    fill: $color-danger;
  }
}

.tickets-icon {
  width: 60px;

  g {
    g {
      fill: $color-danger;
      stroke: $color-danger;
    }
  }
}
