.content {
  padding-top: 150px;
  padding-bottom: 50px;
  text-align: center;

  @include breakpoint(tablet) {
    padding-top: 225px;
    padding-bottom: 100px;
  }

  h2 {
    font-size: 35px;
    color: #5e5e5e;
    font-weight: 300;
    
    @include breakpoint(tablet) {
      font-size: 45px;
    }

    @include breakpoint(desktop) {
      font-size: 60px;
    }
  }

  h3 {
    font-size: 18px;
    color: #999;
    font-weight: 300;
    margin-top: 30px;
    line-height: 24px;

    @include breakpoint(tablet) {
      font-size: 25px;
      line-height: 30px;
      width: 450px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}