.cover {
  background: url('../images/cover-background.png') $color-primary bottom no-repeat;
  background-size: contain;
  padding-top: 30px;
  padding-bottom: 150px;
  position: relative;

  @include breakpoint(desktop) {
    padding-bottom: 350px;
  }
}

.cover-hero {
  text-align: center;
  padding-top: 100px;

  h1 {
    font-size: 35px;
    text-transform: uppercase;
    color: $white;
    font-weight: 100;
    
    @include breakpoint(tablet) {
      font-size: 45px;
    }

    @include breakpoint(desktop) {
      font-size: 60px;
    }
  }

  h2 {
    font-size: 20px;
    font-weight: 100;
    line-height: 30px;
    color: rgba($white, .75);
    margin-bottom: 20px;

    @include breakpoint(tablet) {
      font-size: 25px;
      margin-left: auto;
      margin-right: auto;
      width: 600px;
    }

    @include breakpoint(desktop) {
      font-size: 30px;
      line-height: 40px;
    }
  }
}