.earn {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: $color-primary;
}

.btn-rewards {
  color: $color-danger;
  margin-top: 40px;
  font-size: 18px;
  display: inline-block;
  transition: .25s ease-in-out;
  margin-bottom: 50px;

  &:hover {
    text-decoration: none;
    color: $color-danger;
    opacity: .75;
  }

  svg {
    margin-left: 20px;
  }
}
