.footer {
  background: url('../images/waves.png') top center;
  background-size: cover;
  text-align: center;
  padding-top: 400px;
  padding-bottom: 30px;

  p {
    color: $white;
    margin-bottom: 0;
  }
}