.team {
  padding-bottom: 75px;
  background-color: $color-primary;
  text-align: center;
  background: url('../images/about.png') center center;
  background-size: cover;
  padding-top: 150px;

  img {
    width: 150px;
    border-radius: 50%;

  }

  a {
    display: block;
    color: $white;
    margin-top: 30px;
  }
}