<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Tweetstockr - About
  link(rel="stylesheet", href="stylesheets/main.css")
    
body
  include ./partials/header.jade

  section.about
    .container-fluid
      h1.about__title About us

      p.about__text Tweetstockr is an Open Source Trending Topics Stock Market game.
      
      ul
        li.about-social__item
          a(href="https://twitter.com/tweetstockr")
            include ./icons/twitter

        li.about-social__item
          a(href="https://www.facebook.com/tweetstockr")
            include ./icons/facebook

        li.about-social__item
          a(href="https://github.com/tweetstockr")
            include ./icons/github

  section.press
    .container-fluid
      ul
        li.about-press__item
          img(src="images/betalist.png", alt="")
        li.about-press__item
          img(src="images/product-hunt.png", alt="")

  include ./partials/footer
