<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Tweetstockr - Contact
  link(rel="stylesheet", href="stylesheets/main.css")

body
  include ./partials/header

  section.contact
    .container-fluid
      h1 Stay Current!
      h2 We will often send emails about new features, changelog, press and news. We will never spam you! :)

      fieldset.form-group
        input(class="form-control" type="email" placeholder="Enter your email")
        button.btn.btn-primary.btn-block Sign up

  include ./partials/footer