<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Tweetstockr - Home
  
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  meta(name="description" content="Tweetstockr is an Open Source Trending Topics Stock Market game — What's the next trend?")
  meta(name="keywords" content="trend topics, twitter, tweetstockr")
  
  link(rel="shortcut icon" href="http://www.tweetstockr.com/images/favicon.ico")

  link(rel="stylesheet" href="bower/chartist/dist/chartist.min.css")
  link(rel="stylesheet", href="stylesheets/main.css")
  
  //- Social: Twitter
  meta(name="twitter:card" content="summary_large_image")
  meta(name="twitter:site" content="@tweetstockr")
  meta(name="twitter:creator" content="@tweetstockr")
  meta(name="twitter:title" content="Tweetstockr")
  meta(name="twitter:description" content="Tweetstockr is an Open Source Trending Topics Stock Market game — What's the next trend?")
  meta(property="twitter:image:src" content="http://www.tweetstockr.com/images/social.png")
  
  //- Social: Facebook / Open Graph
  meta(property="og:url" content="http://www.tweetstockr.com")
  meta(property="og:type" content="website")
  meta(property="og:title" content="Tweetstockr")
  meta(property="og:image" content="http://www.tweetstockr.com/images/social.png")
  meta(property="og:description" content="Tweetstockr is an Open Source Trending Topics Stock Market game — What's the next trend?")
  meta(property="og:site_name" content="Tweetstockr")

  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-74206247-1', 'auto');
    ga('send', 'pageview');

body
  .cover
    .container-fluid
      include ./partials/header

      .cover-hero
        h1 What's the next trend?
        h2 Tweetstockr is an Open Source Trending Topics Stock Market game.

        a(href="http://api.tweetstockr.com/auth/twitter" class="btn btn-twitter")
          include ./icons/twitter
          | Sign up with Twitter

      .graph.ct-chart.ct-perfect-fourth
        h3#trendName

  .content
    .container-fluid
      h2#howitworks.content__title
        | How it works
      
      .row.content-block
        .col-md-6
          include ./icons/buy-and-sell
          
          h3.content-block__title
            | Buy and sell Trending Topics
          
          p.content-block__text
            | Tweetstockr is a stock exchange free-to-play game that allows the buying and selling of fantasy shares of the Twitter Trending Topics. Buy in low popularity, sell when everybory is tweeting about it.

          
          p.content-block__text
            | Are you into the trends? Compete with your friends on daily and weekly tournaments. It's way more fun!

        .col-md-6
          img(src="images/macbook-tweetstockr.png" class="mockup")
        
      .row.content-block
        .col-md-5.col-md-push-7
          include ./icons/ticket-icon
          
          h3.content-block__title
            | Get real rewards playing!
          
          p.content-block__text
            | Tweetstockr is integrated with Joysticket - The loyalty program for games - so you can get Tickets playing on tournaments with your friends and redeem them for real rewards.
          
          p.content-block__text
            | From PayPal money to Google Play Credits, there is a lot of prizes for you to choose!
            
          a(href="https://joysticket.com/ww/shop" class="btn-rewards" target="_target") 
            | Check all rewards
            include ./icons/arrow-right
        
        .col-md-7.col-md-pull-5
          ul(class="carousel")
            li(class="carousel-item carousel-item__center")
              img(src="images/steam-reward-10.png")
            
            li(class="carousel-item carousel-item__right")
              img(src="images/paypal-reward-20.png")
            
            li(class="carousel-item carousel-item__left")
              img(src="images/xbox-live-subscription.png")
            
  include ./partials/footer

  script(src="bower/jquery/dist/jquery.min.js")
  //- script(src="bower/socket.io-client/socket.io.js")
  script(src="bower/chartist/dist/chartist.min.js")
  script(src="scripts/main.js")
