<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Tweetstockr
  
  meta(name="viewport" content="width=device-width, initial-scale=1")

  link(rel="stylesheet" href="http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css")
  link(rel="stylesheet", href="stylesheets/main.css")

body
  .cover
    .container-fluid
      include ./partials/header

      .cover-hero
        h1 What's the next trend?
        h2 Tweetstockr is an Open Source Trending Topics Stock Market game.

        a(href="#" class="btn btn-twitter")
          | Sign up with Twitter

      .graph.ct-chart.ct-perfect-fourth
        h3 #Tweetstockr

  .content
    .container-fluid
      h2 Buy & Sell Twitter Shares
      h3 Check Twitter Trends in Real-Time, buy & sell in the right time.

      img(src="images/tweetstockr-iPad-Macbook-Mockup.png", alt="")

  include ./partials/footer

  script(src="../bower_components/jquery/dist/jquery.js")
  script(src="../bower_components/chartist/dist/chartist.js")
  script(src="scripts/main.js")