<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Tweetstockr - Home
  
  meta(name="viewport" content="width=device-width, initial-scale=1")

  link(rel="stylesheet" href="bower/chartist/dist/chartist.min.css")
  link(rel="stylesheet", href="stylesheets/main.css")

body
  .cover
    .container-fluid
      include ./partials/header

      .cover-hero
        h1 What's the next trend?
        h2 Tweetstockr is an Open Source Trending Topics Stock Market game.

        a(href="http://api.tweetstockr.com/auth/twitter" class="btn btn-twitter")
          include ./icons/twitter
          | Sign up with Twitter

      .graph.ct-chart.ct-perfect-fourth
        h3#trendName

  .content
    .container-fluid
      h2.content__title
        | How it works
      
      .row.content-block
        .col-md-6
          include ./icons/buy-and-sell
          
          h3.content-block__title
            | Buy and sell stocks
          
          p.content-block__text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          
          p.content-block__text
            | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        .col-md-6
          img(src="images/macbook-tweetstockr.png" class="mockup")
        
      .row.content-block
        .col-md-7
          ul(class="carousel")
            li(class="carousel-item carousel-item__center")
              img(src="images/paypal-reward-10.png")
            
            li(class="carousel-item carousel-item__right")
              img(src="images/paypal-reward-20.png")
            
            li(class="carousel-item carousel-item__left")
              img(src="images/xbox-live-subscription.png")
        
        .col-md-5
          include ./icons/ticket-icon
          
          h3.content-block__title
            | Earn tickets and exchange them for real rewards
          
          p.content-block__text
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          
          p.content-block__text
            | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  include ./partials/footer

  script(sr="bower/jquery/dist/jquery.min.js")
  script(sr="bower/socket.io-client/socket.io.js")
  script(sr="bower/chartist/dist/chartist.min.js")
  script(src="scripts/main.js")
