<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Tweetstockr - Home
  
  meta(name="viewport" content="width=device-width, initial-scale=1")

  link(rel="stylesheet" href="bower/chartist/dist/chartist.min.css")
  link(rel="stylesheet", href="stylesheets/main.css")

body
  .cover
    .container-fluid
      include ./partials/header

      .cover-hero
        h1 What's the next trend?
        h2 Tweetstockr is an Open Source Trending Topics Stock Market game.

        a(href="http://api.tweetstockr.com/auth/twitter" class="btn btn-twitter")
          include ./icons/twitter
          | Sign up with Twitter

      .graph.ct-chart.ct-perfect-fourth
        h3#trendName

  .content
    .container-fluid
      h2#howitworks.content__title
        | How it works
      
      .row.content-block
        .col-md-6
          include ./icons/buy-and-sell
          
          h3.content-block__title
            | Buy and sell Trending Topics
          
          p.content-block__text
            | Tweetstockr is a stock exchange free-to-play game that allows the buying and selling of fantasy shares of the Twitter Trending Topics. Buy in low popularity, sell when everybory is tweeting about it.

          
          p.content-block__text
            | Are you into the trends? Compete with your friends on daily and weekly tournaments. It's way more fun!

        .col-md-6
          img(src="images/macbook-tweetstockr.png" class="mockup")
        
      .row.content-block
        .col-md-7
          ul(class="carousel")
            li(class="carousel-item carousel-item__center")
              img(src="images/paypal-reward-10.png")
            
            li(class="carousel-item carousel-item__right")
              img(src="images/paypal-reward-20.png")
            
            li(class="carousel-item carousel-item__left")
              img(src="images/xbox-live-subscription.png")
        
        .col-md-5
          include ./icons/ticket-icon
          
          h3.content-block__title
            | Get real rewards playing!
          
          p.content-block__text
            | Tweetstockr is integrated with Joysticket - The loyalty program for games - so you can get Tickets playing on tournaments with your friends and redeem them for real rewards.
          
          p.content-block__text
            | From PayPal money to Google Play Credits, there is a lot of prizes for you to choose!
            
  include ./partials/footer

  script(src="bower/jquery/dist/jquery.min.js")
  script(src="bower/socket.io-client/socket.io.js")
  script(src="bower/chartist/dist/chartist.min.js")
  script(src="scripts/main.js")
