.about {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;

  h1 {
    font-size: 50px;
    font-weight: 300;
    color: $color-primary;
    margin-bottom: 30px;
  }

  p {
    font-size: 22px;
    line-height: 30px;
    font-weight: 300;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 50px;
  }

  li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;

    svg {
      opacity: .5;
      transition: .15s ease-in-out;

      &:hover {
        opacity: 1;
      }
    }
  }
}