@import "components/_variables";
@import "vendors/bootstrap/bootstrap";
@import "components/_responsive";
@import "components/_reset";

@import "layout/content";
@import "layout/cover";
@import "layout/footer";
@import "layout/graph";
@import "layout/header";
@import "layout/nav";

.graph  {
  .ct-chart-line {
    top: 70px;
  }

  h3 {
    margin-left: 30px;
    font-weight: 300;
    color: $color-primary;
    font-size: 26px;
    margin-top: 20px;
  }
}