@import "helpers/_variables";
@import "vendors/bootstrap/bootstrap";

@import "helpers/_responsive";
@import "helpers/_reset";

@import "components/header";
@import "components/footer";

@import "layout/content";
@import "layout/cover";
@import "layout/graph";
@import "layout/nav";
@import "layout/about";
@import "layout/press";
@import "layout/team";

.graph  {
  .ct-chart-line {
    top: 5px;

    @include breakpoint(desktop) {
      top: 70px;
      height: 300px !important;
    }
  }

  h3 {
    display: none;

    @include breakpoint(desktop) {
      display: block;
      margin-left: 30px;
      font-weight: 300;
      color: $color-primary;
      font-size: 26px;
      margin-top: 20px;
    }
  }
}
