.header {
  text-align: center;

  @include breakpoint(desktop) {
    text-align: left;
    position: fixed;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
    background-color: $color-primary;
    padding: 20px 50px;
    z-index: 1000;
  }
}
