footer.footer
  ul.footer-links
    li
      a(href="")
        include ./../icons/twitter

    li
      a(href="")
        include ./../icons/facebook

    li
      a(href="")
        include ./../icons/github

  p © Copyright 2016 Tweetstockr