header.header
  a(href="index.html")
    include ./../icons/logo
    
  nav.nav
    ul
      li
        a(href="http://tweetstockr.com/#howitworks") How it works
        
      li
        a(href="about.html") About Us
        
      li
        a(href="contact.html") Contact
        
      li.btn.btn-danger
        a(href="http://api.tweetstockr.com/auth/twitter") Login
